* {
  background-color: coral;
  color: blue;
  
  }
  
  .new {
    color: blue;
  }

#welcome {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  text-align: center;
  text-decoration: darkblue;
  color: blue;
}